.img-card {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(223, 223, 227);
  border-radius: 5px;
  cursor: pointer;
  border-radius: 5px;
  height: 230px;
}

.img-container {
  height: 160px;
  background-color: rgb(242, 242, 242);
  background-size: 16px 16px;
  background-position: 0px 0px, 8px 8px;
  background-image: linear-gradient(
      45deg,
      rgb(230, 230, 230) 25%,
      transparent 25%,
      transparent 75%,
      rgb(230, 230, 230) 75%,
      rgb(230, 230, 230)
    ),
    linear-gradient(
      45deg,
      rgb(230, 230, 230) 25%,
      transparent 25%,
      transparent 75%,
      rgb(230, 230, 230) 75%,
      rgb(230, 230, 230)
    );

  border-bottom: 2px solid rgb(223, 223, 227);
}

.img-container > img {
  width: 100%;
  height: 160px;
  object-fit: contain;
}

.img-name {
  height: 66px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
